doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/main.css")
    link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="css/animate.css")
    title Redco Ingenieria
  body
    div(class="col-md-12 center-block quitar-float text-center espacio-arriba")
      img(src="img/logo.png" class="animated fadeIn")
      h1(class="verde animated fadeIn retraso-1") Ingenieria y Telecomunicaciones
      div(class="animated fadeInDown retraso-2")
        h4 Brindamos soluciones a sus proyectos.
        nav
          a(href="menu.html" class="espacio-derecha") Servicios
          a(href="contacto.html" class="espacio-derecha") Contacto
          a(href="acerca.html") Acerca de

    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="js/main.js")




    