doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/main.css")
    link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="css/animate.css")
    title Redco Ingenieria
    body
        nav(class="se-gris padding-largo azul")
            ul(class="no-lista row text-center")
                li(class="col-md-3 inline-block")
                    a(href="index.jade" class="verde") Redco Ingenieria y Telecomunicaciones
                li(class="col-md-3 inline-block")
                    a(href="menu.html") Servicios
                li(class="col-md-3 inline-block")
                    a(href="contacto.html") Contacto
        block contenido